name: Demo
on:
  pull_request:
permissions:
  pull-requests: write
jobs:
  demo:
    name: Publish Demo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy demo
        uses: ./.github/actions/deploy-demo
        with:
          charm-root: ./charm
